{% extends 'base.html.twig' %}

{% block title %}Edit Caregiver{% endblock %}

{% block body %}
    <h1>Edit Caregiver</h1>

    {{ include('admin/caregiver/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('caregiver_index') }}">back to list</a>

    {{ include('admin/caregiver/_delete_form.html.twig') }}
{% endblock %}
