{% extends 'base.html.twig' %}

{% block title %}Edit Resident{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Modifier un résident</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Résidents</a></li>
                    <li class="breadcrumb-item active">Modifier</li>
                    </ol>
                </div>
                </div>
            </div>
        </section>
  
        <section class="content">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                <div class="card card-primary">
                    <div class="card-header">
                    <h3 class="card-title">Modifier un résident</h3>
                    </div>

                        {{ include('admin/resident/_form.html.twig', {'button_label': 'Update'}) }}

                        {# <a href="{{ path('resident_index') }}">back to list</a> #}

                        {# {{ include('resident/_delete_form.html.twig') }} #}

                        </div>
            </div>
      </section>
</div>
{% endblock %}
